<nav class="ui inverted stackable menu">

    <div class="item">
        <a href="#"><i class="edit outline icon"></i></a>
    </div>

    <a href="#" class="item"><i class="pencil alternate icon"></i>Blogs</a>
    <a href="/blogs/auth/home" class="item"><i class="code icon"></i>Get Started</a>
    <a href="#" class="item"><i class="anchor icon"></i>Sort By</a>

    <div class="right menu">
        <a href="/register" class="item"><i class="users icon"></i>Register</a>
        <a href="/blogs/login" class="item"><i class="user icon"></i>Login</a>
    </div>

</nav>