@import url('_variable.css');
@import url('_global.css');
@import url('style.css');


/*=======================*/
/*=======================*/
/*Large Screen Tabs*/
@media only screen and (max-width: 900px){

    .header-area .navbar .navbar-brand{
        margin-left: 0.5rem !important; 
     }

     .header-area .navbar{
        padding: 1% 0 1% 2%;
    }

    .header-area .navbar .navbar-nav.ms-auto{
        margin: 2% 0 0 -4% !important;
        width: 114%;
        height: 100px;
        background: #f5f5f5;
    }

    .header-area .navbar .navbar-nav button{
        border: none;
        outline: none;
        background: #f5f5f5;
        box-shadow: none;
        color: #0070ba;
        text-align: left;
    }

    .header-area .navbar .navbar-toggler:focus{
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

       /*Navbar area ends*/
       .main-site{
        width: 100vw !important;
        height: 560px;
        background: url('/images/image-1.jpg') #222222;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main-site .jumbotron{
        padding-top: 18%;
    }

    .main-site .jumbotron p{
        font-size: 19px !important;
        color: #f5f5f5 !important;
    }

    .dev-community-section .d-comm p{
        font-size: 22px !important;
    }

    .left-trending-item{
        width: 90vw !important;
        margin-left: 4% !important;
    }

    .left-trending-item .item .content{
        margin-left: 3% !important;
    }

    .left-trending-item h2{
        font-size: 25px !important;
        font-family: var(--roboto);
    }


    .left-trending-item .item .content .username{
        line-height: 36px !important;
    }

    
    .left-trending-item .item .content .username :is(span, strong){
        font-size: 16px !important;
        font-weight: 500;
    }

    .left-trending-item .item .header :is(strong){
        font-size: 19px !important;
        font-weight: 600;
        line-height: 30px !important;
    }

    .left-trending-item .item .content .description p{
        font-size: 16px !important;
    }
    .left-trending-item .item .created span{
       font-size: 14px !important;
    }
}



/*=======================*/
/*=======================*/
/*Large Screen Tablets*/
@media only screen and (max-width: 768px){

    .header-area .navbar .navbar-brand{
        margin-left: 0.5rem !important; 
     }

     .header-area .navbar{
        padding: 1% 0 1% 2%;
    }

    .header-area .navbar .navbar-nav.ms-auto{
        margin: 2.5% 0 0 -5% !important;
        width: 114%;
        height: 100px;
        background: #f5f5f5;
    }

    .header-area .navbar .navbar-nav button{
        border: none;
        outline: none;
        background: #f5f5f5;
        box-shadow: none;
        color: #0070ba;
        text-align: left;
    }

    
    .header-area .navbar .navbar-toggler:focus{
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    /*Navbar area ends*/

    .main-site{
        width: 100vw !important;
        height: 600px;
        background: url('/images/image-1.jpg') #222222;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main-site .jumbotron{
        padding-top: 18%;
    }

    .main-site .jumbotron p{
        font-size: 19px !important;
        color: #f5f5f5 !important;
    }

    .info .container-fluid .row .card-info img{
        width: 250px !important;
        height: 250px !important;
    }

    .info .container-fluid .row .card-info h3{
        font-size: 26px !important;;
    }

    .info .container-fluid .row .card-info p{
        font-size: 17px !important;
    }


    .dev-community-section .d-comm p{
        font-size: 20px !important;
    } 

    .left-trending-item{
        width: 90vw !important;
        margin-left: 4% !important;
    }

    .left-trending-item .item{
        display: flex !important;
        flex-direction: row !important;
    }

    .left-trending-item .item .content{
        margin-left: 3% !important;
    }
    
    .left-trending-item h2{
        font-size: 24px !important;
        font-family: var(--roboto);
    }

    .left-trending-item .item .content .username{
        line-height: 38px !important;
    }

    .left-trending-item .item .content .username :is(span, strong){
        font-size: 15px !important;
        font-weight: 500;
    }

    .left-trending-item .item .header :is(strong){
        font-size: 19px !important;
        font-weight: 600;
        line-height: 15px !important;
    }

    .left-trending-item .item .content .description p{
        font-size: 16px !important;
    }
    .left-trending-item .item .created span{
       font-size: 14px !important;
    }

}



/*======================*/
/*========================*/
/*Large Screen - Mobile*/
@media only screen and (max-width: 600px){

    .header-area .navbar .navbar-brand{
       margin-left: 0.5rem !important; 
    }

    .header-area .navbar{
        padding: 1% 0 1% 2%;
    }

    .header-area .navbar .navbar-nav.ms-auto{
        margin: 2.5% 0 0 -5% !important;
        width: 114%;
        height: 100px;
        background: #f5f5f5;
    }

    .header-area .navbar .navbar-nav button{
        border: none;
        outline: none;
        background: #f5f5f5;
        box-shadow: none;
        color: #0070ba;
        text-align: left;
    }

    .header-area .navbar .navbar-toggler{
        float: right;
    }

    .header-area .navbar .navbar-toggler:focus{
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    /*Navbar area ends*/

    .main-site{
        width: 100vw !important;
        height: 600px;
        background: url('/images/image-1.jpg') #222222;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main-site .jumbotron{
        padding-top: 22%;
    }

    .main-site .jumbotron p{
        font-size: 18px !important;
        color: #f5f5f5 !important;
    }

    .main-site .jumbotron button{
        padding: 0.7rem 2.1rem;
        margin: 0 1.2rem;
        font: normal 500 16px/20px var(--roboto);
        position: relative;
        border: 3px solid transparent;
        border-radius: 4px;
        background: var(--gradient-color);
        background-clip: padding-box;
        color: #f5f5f5;
        transition: background 0.6s ease;
        box-shadow: var(--box-shadow);
    }

    .info{
        margin-top: 10% !important;
    }
    .info .container-fluid .row .card-info img{
        width: 200px;
        height: 200px;
    }

    /*dev community section starts*/

    .dev-community-section{
        margin-top: 5% !important;
    }

    .dev-community-section .d-comm h2{
        font-size: 28px !important;
        line-height: 40px;
    }

    .dev-community-section .d-comm p{
        font-size: 19px !important;
        line-height: 20px;
    }
 
    .communities .tagline h2{
        font-size: 23px;
        text-align: center;
    }

    .communities{
        margin-top: 8% !important;
    }

    .choose-us{
        margin-top: 10% !important;
    }

    .choose-us img{
        width: 600px !important;
        height: 250px !important;
    }

    .left-trending-item{
        width: 90vw !important;
        margin-left: 4% !important;
    }

    .left-trending-item .item .description{
        display: none;
    }

    .left-trending-item .item{
        display: flex !important;
        flex-direction: row !important;
    }

    .left-trending-item .item .content{
        margin-left: 3% !important;
    }

    .left-trending-item .item .post-image img{
        width: 95px !important;
        height: 95px !important;
        margin-left: 0 !important;
    }

    
    .left-trending-item h2{
        font-size: 20px !important;
        font-family: var(--roboto);
    }

    .left-trending-item .item .content .username{
        line-height: 40px !important;
    }

    .left-trending-item .item .content .username :is(span, strong){
        font-size: 16px !important;
        font-weight: 500;
    }

    .left-trending-item .item .header :is(strong){
        font-size: 17px !important;
        font-weight: 600;
        line-height: 40px !important;
    }
    .left-trending-item .item .created span i{
       font-size: 12px !important;
    }

}

/*=============================*/
/*==============================*/


/*======================================*/
/*====================================*/
/*Medium - Large - Mobile*/
@media only screen and (max-width: 480px){

    .header-area .navbar .navbar-brand{
       margin-left: 0.5rem; 
    }

    .header-area .navbar{
        padding: 1% 0;
    }

    .header-area .navbar .navbar-nav.ms-auto{
        margin: 2.5% 0 0 -8% !important;
        width: 114%;
        height: 100px;
        background: #f5f5f5;
    }

    .header-area .navbar .navbar-nav button{
        border: none;
        outline: none;
        background: #f5f5f5;
        box-shadow: none;
        color: #0070ba;
        text-align: left;
    }

    .header-area .navbar .navbar-toggler{
        float: right;
    }

    .header-area .navbar .navbar-toggler:focus{
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    /*Navbar area ends*/

    .main-site{
        width: 100vw !important;
        height: 540px;
        background: url('/images/image-1.jpg') #222222;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main-site .jumbotron{
        padding-top: 22%;
    }

    .main-site .jumbotron h1{
        font-size: 28px !important;
    }


    .main-site .jumbotron p{
        font-size: 17px !important;
        color: #f5f5f5 !important;
    }

    .main-site .jumbotron button{
        padding: 0.7rem 2.1rem;
        margin: 0 1.2rem;
        font: normal 500 16px/20px var(--roboto);
        position: relative;
        border: 3px solid transparent;
        border-radius: 4px;
        background: var(--gradient-color);
        background-clip: padding-box;
        color: #f5f5f5;
        transition: background 0.6s ease;
        box-shadow: var(--box-shadow);
    }

    .info{
        margin-top: 10% !important;
    }

    .info .container-fluid .row .card-info h3{
        font-size: 22px !important;
    }

    .info .container-fluid .row .card-info img{
        width: 240px;
        height: 240px;
    }

    /*dev community section starts*/

    .dev-community-section{
        margin-top: 10% !important;
    }

    .dev-community-section .d-comm h2{
        font-size: 21px !important;
        line-height: 40px;
    }

    .dev-community-section .d-comm p{
        font-size: 15px !important;
        line-height: 20px;
    }
 
    .communities .tagline h2{
        font-size: 21px !important;
        text-align: center;
    }

    .communities,
    .choose-us{
        margin-top: 14% !important;
    }

    .choose-us img{
        height: 250px !important;
    }

    .left-trending-item{
        width: 100vw !important;
        margin-left: 2% !important;
    }

    .left-trending-item .item .description{
        display: none;
    }

    .left-trending-item .item{
        display: flex !important;
        flex-direction: row !important;
    }

    .left-trending-item .item .content{
        margin-top: -3.5% !important;
        margin-left: 2.2% !important;
    }

    .left-trending-item .item .post-image img{
        width: 78px !important;
        height: 78px !important;
        margin-left: 0 !important;
    }

    
    .left-trending-item h2{
        font-size: 16px !important;
        font-family: var(--roboto);
    }

    .left-trending-item .item .content .username{
        line-height: 30px !important;
    }

    .left-trending-item .item .content .username :is(span, strong){
        font-size: 13px;
        font-weight: 500;
    }

    .left-trending-item .item .header :is(strong){
        font-size: 154x;
        font-weight: 600;
        line-height: 15px !important;
    }
    .left-trending-item .item .created span i{
       font-size: 11px !important;
    }

}
/*======================================*/
/*====================================*/




/*======================================*/
/*====================================*/
/*Medium Screen - Mobile*/
@media only screen and (max-width: 414px){

    .header-area .navbar .navbar-brand{
       margin-left: 0.5rem; 
    }

    .header-area .navbar{
        padding: 1% 0;
    }

    .header-area .navbar .navbar-nav.ms-auto{
        margin: 2.5% 0 0 -8% !important;
        width: 114%;
        height: 100px;
        background: #f5f5f5;
    }

    .header-area .navbar .navbar-nav button{
        border: none;
        outline: none;
        background: #f5f5f5;
        box-shadow: none;
        color: #0070ba;
        text-align: left;
    }

    .header-area .navbar .navbar-toggler{
        float: right;
    }

    .header-area .navbar .navbar-toggler:focus{
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    /*Navbar area ends*/

    .main-site{
        width: 100vw !important;
        height: 540px;
        background: url('/images/image-1.jpg') #222222;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main-site .jumbotron{
        padding-top: 22%;
    }

    .main-site .jumbotron h1{
        font-size: 26px !important;
    }


    .main-site .jumbotron p{
        font-size: 14px !important;
        color: #f5f5f5 !important;
    }

    .main-site .jumbotron button{
        padding: 0.7rem 2.1rem;
        margin: 0 1.2rem;
        font: normal 500 16px/20px var(--roboto);
        position: relative;
        border: 3px solid transparent;
        border-radius: 4px;
        background: var(--gradient-color);
        background-clip: padding-box;
        color: #f5f5f5;
        transition: background 0.6s ease;
        box-shadow: var(--box-shadow);
    }

    .info{
        margin-top: 10% !important;
    }
    .info .container-fluid .row .card-info img{
        width: 200px;
        height: 200px;
    }

    /*dev community section starts*/

    .dev-community-section{
        margin-top: -5% !important;
    }

    .dev-community-section .d-comm h2{
        font-size: 22px !important;
        line-height: 40px;
    }

    .dev-community-section .d-comm p{
        font-size: 15px !important;
        line-height: 26px;
    }
 
    .communities .tagline h2{
        font-size: 21px;
        text-align: center;
    }

    .communities{
        margin-top: 15% !important;
    }

    .choose-us img{
        height: 250px !important;
    }

    .left-trending-item{
        width: 100vw !important;
        margin-left: 1.8% !important;
    }

    .left-trending-item .item .description{
        display: none;
    }

    .left-trending-item .item{
        display: flex !important;
        flex-direction: row !important;
    }

    .left-trending-item .item .content{
        margin-top: -3.5% !important;
        margin-left: 1.8% !important;
    }

    .left-trending-item .item .post-image img{
        width: 75px !important;
        height: 75px !important;
        margin-left: 0 !important;
    }

    
    .left-trending-item h2{
        font-size: 17px !important;
        font-family: var(--roboto);
    }

    .left-trending-item .item .content .username{
        line-height: 22px !important;
    }

    .left-trending-item .item .content .username :is(span, strong){
        font-size: 13px !important;
        font-weight: 500;
    }

    .left-trending-item .item .header :is(strong){
        font-size: 14px;
        font-weight: 600;
        line-height: 15px !important;
    }
    .left-trending-item .item .created span{
       font-size: 11px !important;
    }
}
/*======================================*/
/*====================================*/





/*======================================*/
/*=====================================*/
/*Small - Medium Screen - Mobile*/
@media only screen and (max-width: 375px){
    .header-area .navbar .navbar-brand{
        display: none;
    }

    .header-area .navbar{
        padding: 1% 0;
    }

    .header-area .navbar .navbar-nav.ms-auto{
        margin: 2.5% 0 0 -10% !important;
        width: 114%;
        height: 100px;
        background: #f5f5f5;
    }

    .header-area .navbar .navbar-nav button{
        border: none;
        outline: none;
        background: #f5f5f5;
        box-shadow: none;
        color: #0070ba;
        text-align: left;
    }

    .header-area .navbar .navbar-toggler:focus{
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    /*Navbar area ends*/

    .main-site{
        width: 100vw !important;
        height: 540px;
        background: var(--gradient-color-3);
    }

    .main-site .jumbotron{
        padding-top: 22%;
    }

    .main-site .jumbotron h1{
        font-size: 20px !important;
    }


    .main-site .jumbotron p{
        font-size: 15px !important;
        color: #f5f5f5 !important;
    }

    .main-site .jumbotron button{
        padding: 0.7rem 2.1rem;
        margin: 0 1.2rem;
        font: normal 500 16px/20px var(--roboto);
        position: relative;
        border: 3px solid transparent;
        border-radius: 4px;
        background: #f5f5f5;
        background-clip: padding-box;
        color: #185074;
        transition: background 0.6s ease;
        box-shadow: var(--box-shadow);
    }

    .info{
        margin-top: 10% !important;
    }
    .info .container-fluid .row .card-info img{
        width: 150px;
        height: 150px;
    }

     /*dev community section starts*/

     .dev-community-section{
         margin-top: -5% !important;
     }

     .dev-community-section .d-comm h2{
        font-size: 21px !important;
        line-height: 40px;
    }

    .dev-community-section .d-comm p{
        font-size: 14px !important;
        line-height: 22px;
    }
 
    .communities .tagline h2{
        font-size: 20px;
        text-align: center;
    }

    .communities{
        margin-top: 21.9595% !important;
    }

    .choose-us img{
        height: 250px !important;
    }

    .left-trending-item{
        width: 100vw !important;
        margin-left: 1.8% !important;
    }

    .left-trending-item .item .description{
        display: none;
    }

    .left-trending-item .item{
        display: flex !important;
        flex-direction: row !important;
    }

    .left-trending-item .item .content{
        margin-top: -3.5% !important;
        margin-left: 1.8% !important;
    }

    .left-trending-item .item .post-image img{
        width: 70px !important;
        height: 70px !important;
        margin-left: 0 !important;
    }

    
    .left-trending-item h2{
        font-size: 14px !important;
        font-family: var(--roboto);
    }

    .left-trending-item .item .content .username{
        line-height: 22px !important;
    }

    .left-trending-item .item .content .username :is(span, strong){
        font-size: 13px !important;
        font-weight: 500;
    }

    .left-trending-item .item .header :is(strong){
        font-size: 13px !important;
        font-weight: 600;
        line-height: 15px !important;
    }
    .left-trending-item .item .created span{
       font-size: 10px !important;
    }

}
/*=============================================*/
/*=============================================*/



/*================================*/
/*================================*/
/*Small Screen - Mobile*/
@media only screen and (max-width: 340px){
    
    .header-area .navbar .navbar-brand{
        display: none;
    }

    .header-area .navbar{
        padding: 1% 0;
    }

    .header-area .navbar .navbar-nav.ms-auto{
        margin: 2.5% 0 0 -10% !important;
        width: 114%;
        height: 100px;
        background: #f5f5f5;
    }

    .header-area .navbar .navbar-nav button{
        border: none;
        outline: none;
        background: #f5f5f5;
        box-shadow: none;
        color: #0070ba;
        text-align: left;
    }

    .header-area .navbar .navbar-toggler:focus{
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    /*Navbar area ends*/

    /*Main site starts*/

    .main-site{
        width: 100vw !important;
        height: 540px;
        background: var(--gradient-color-3);
    }

    .main-site .jumbotron{
        padding-top: 22%;
    }

    .main-site .jumbotron h1{
        font-size: 20px !important;
        line-height: 40px !important;
    }

    .main-site .jumbotron p{
        font-size: 14px !important;
        color: #f5f5f5 !important;
    }

    .main-site .jumbotron button{
        padding: 0.7rem 2.1rem;
        margin: 0 1.2rem;
        font: normal 500 16px/20px var(--roboto);
        position: relative;
        border: 3px solid transparent;
        border-radius: 4px;
        background: #f5f5f5;
        background-clip: padding-box;
        color: #185074;
        transition: background 0.6s ease;
        box-shadow: var(--box-shadow);
    }

    .info{
        margin-top: 10% !important;
    }
    .info .container-fluid .row .card-info img{
        width: 150px;
        height: 150px;
    }

    .info .container-fluid .row .card-info h3{
        font-size: 20px !important;
    }

    .info .container-fluid .row .card-info p{
        font-size: 16px !important;
    }

     /*dev community section starts*/

     .dev-community-section{
         margin-top: -4% !important;
     }

     .dev-community-section .d-comm h2{
        font-size: 20px !important;
        line-height: 40px;
    }

    .dev-community-section .d-comm p{
        font-size: 14px !important;
        line-height: 22px;
    }
 
    
    .communities .tagline h2{
        font-size: 20px;
        text-align: center;
    }

    .communities,
    .choose-us{
        margin-top: 22% !important;
    }

    .choose-us img{
        height: 250px !important;
    }

    .left-trending-item{
        width: 100vw !important;
        margin-left: 1.8% !important;
    }

    .left-trending-item .item .description{
        display: none;
    }

    .left-trending-item .item{
        display: flex !important;
        flex-direction: row !important;
    }

    .left-trending-item .item .content{
        margin-top: -3.5% !important;
        margin-left: 1.8% !important;
    }

    .left-trending-item .item .post-image img{
        width: 70px !important;
        height: 70px !important;
        margin-left: 0 !important;
    }

    
    .left-trending-item h2{
        font-size: 14px !important;
        font-family: var(--roboto);
    }

    .left-trending-item .item .content .username{
        line-height: 22px !important;
    }

    .left-trending-item .item .content .username :is(span, strong){
        font-size: 13px !important;
        font-weight: 500;
    }

    .left-trending-item .item .header :is(strong){
        font-size: 13px !important;
        font-weight: 600;
        line-height: 15px !important;
    }
    .left-trending-item .item .created span{
       font-size: 10px !important;
    }

}
/*=====================================*/
/*======================================*/


/*===============================*/
/*================================*/
/*Extra Small screen - Mobile*/

@media only screen and (max-width: 320px){

    /*Header -Navbar Area Starts*/
    .header-area .navbar .navbar-brand{
        display: none;
    }

    .header-area .navbar{
        padding: 1% 0;
        width: 100vw !important;
    }

    .header-area .navbar .navbar-nav.ms-auto{
        margin: 2.5% 0 0 -14% !important;
        width: 118%;
        height: 80px;
        background: #f5f5f5;
    }

    .header-area .navbar .navbar-nav button{
        border: none;
        outline: none;
        background: #f5f5f5;
        box-shadow: none;
        color: #0070ba;
        text-align: left;
    }

    .header-area .navbar .navbar-toggler:focus{
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    /*Header - Navbar Area ends*/

    /*Main - Jumbotron starts*/
    .main-site{
        width: 100vw !important;
        height: 540px !important;
        background: var(--gradient-color-3);
    }

    .main-site .jumbotron{
        padding-top: 21.9595%;
    }

    .main-site .jumbotron h3{
        font-size: 19px !important;
    }

    .main-site .jumbotron p{
        font-size: 14px;
        color: #f5f5f5 !important;
    }

    .main-site .jumbotron button{
        padding: 0.7rem 2.1rem;
        margin: 0 1.2rem;
        font: normal 500 16px/20px var(--roboto);
        position: relative;
        border: 3px solid transparent;
        border-radius: 4px;
        background: #f5f5f5;
        background-clip: padding-box;
        color: #185074;
        transition: background 0.6s ease;
        box-shadow: var(--box-shadow);
    }

    /*Main - Jumbotron ends*/

    /*Info section starts*/

    .info{
        margin-top: 10% !important;
    }
    .info .container-fluid .row .card-info img{
        width: 150px;
        height: 150px;
    }
    
    .info .container-fluid .row .card-info h3{
        font-size: 18px !important;
    }

    .info .container-fluid .row .card-info p{
        font-size: 16px !important;
    }
    /*Info section ends*/

    /*dev community section starts*/

    .dev-community-section{
        margin-top: -5% !important;
    }

    .dev-community-section .d-comm h2{
        font-size: 17px !important;
        line-height: 40px;
    }

    .dev-community-section .d-comm p{
        font-size: 13px !important;
        line-height: 20px;
    }
 
    /*Communities section choose us starts*/

    .communities{
        margin-top: 35% !important;
    }

    .communities .tagline h2{
        font-size: 19px;
        text-align: center;
    }
    

    .choose-us img{
        height: 250px !important;
    }
    /*Communities section, choose us ends*/

    /*Trending section starts*/
    .left-trending-item{
        width: 100vw !important;
        margin-left: 1.8% !important;
    }

    .left-trending-item .item .description{
        display: none;
    }

    .left-trending-item .item{
        display: flex !important;
        flex-direction: row !important;
    }

    .left-trending-item .item .content{
        margin-top: -3.5% !important;
        margin-left: 1.8% !important;
    }

    .left-trending-item .item .post-image img{
        width: 70px !important;
        height: 70px !important;
        margin-left: 0 !important;
    }

    .left-trending-item h2{
        font-size: 14px !important;
        font-family: var(--roboto);
    }

    .left-trending-item .item .content .username{
        line-height: 22px !important;
    }

    .left-trending-item .item .content .username :is(span, strong){
        font-size: 11px !important;
        font-weight: 500;
    }

    .left-trending-item .item .header :is(strong){
        font-size: 12px !important;
        font-weight: 600;
        line-height: 15px !important;
    }
    .left-trending-item .item .created span{
       font-size: 10px !important;
    }

    /*Trending Section ends*/   
}
/*==================================*/
/*===============================*/
