<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recolon - New Post</title>
    <link rel="icon" type="image/png" href="/images/favicon_io/favicon-32x32.png">

      <!--Bootstrap CSS-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" 
      rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  
      <!--Semantic UI CSS-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

       <!--Font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />


    <!--Google Font - Roboto-->
    <!--Google fonts ROBOTO Family-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" 
    rel="stylesheet">

    <!--Custom CSS-->
    <link rel="stylesheet" href="/css/NewCSS/new.css">
    <link rel="stylesheet" href="/css/NewCSS/media-query.css">

     <!--Tiny MCE Text editor-->
     <script src="https://cdn.tiny.cloud/1/bnhp3jojywbuyd5h7jhwe5quiy8unmdtf9vp5xii635gflqr/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
    
<!--Creating a new content page-->

  <!--Navbar starts-->
  <section class="header-area">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="far fa-edit" style="font-size: 21px;"></i><span>Recolon</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <button class="btn"><i style="color: #ffffff;" class="fas fa-cog"></i></button>
            <button class="btn"><a href="/recolon/accounts/logout">Logout</a></button>
          </ul>
        </div>
      </div>
    </nav>
  </section>
<!--Navbar ends-->


<section class="w-container">
    <!--Aside container-->
    <aside class="aside-container">
        <div class="info-container">
            <div id="title" class="info">
                <h3>Pick a title that catches attention</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sapiente. Pariatur animi nam impedit facilis!</p>
                <button class="ui primary button">Creative Titles</button>
            </div>
    
            <div id="image" class="info">
                <h3>A good image can also help</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis fuga dolore quae, commodi at odit.</p>
                <button class="ui orange button">Image samples</button>
            </div>
    
            <div id="editor" class="info">
                <h3>Some basic editor tips</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolores aut ut alias deleniti porro!</p>
                <button class="ui green button">Editor hacks</button>
            </div>
        </div>
        
    </aside>

    <!--Form editing area-->
    <main class="main-container">
        <div class="editing-area">
            <form action="/recolon/new" method="POST" enctype="multipart/form-data">
                <div class="form mt-5">
                    <input class="title-field" type="text" placeholder="Add a title" name="title" required>
                </div>

                <div class="form mt-5">
                    <input class="image-upload" type="file" name="image" placeholder="Image here" size="50" required>
                </div>

                <div class="form custom-select mt-4">
                  <label for="communities">Choose a community</label>
                  <select name="communities" id="communities" onfocus="this.size = 10;" onblur="this.size= 1;" onchange="this.size =5; this.blur();">
                    <option value="0">...</option>
                    <option value="Programming">Programming</option>
                    <option value="Web Development">Web Development</option>
                    <option value="Software Engineering">Software Engineering</option>
                    <option value="Machine learning">Machine Learning</option>
                    <option value="Data Science">Data Science</option>
                    <option value="Cyber Security">Cyber Security</option>
                    <option value="Dev Ops">Dev Ops</option>
                    <option value="Testing">Testing</option>
                  </select>
              </div>

                <div class="texarea-container mt-5">
                    <textarea name="content" class="text-area" id="" cols="30" rows="10"></textarea>
                </div>

                <div class="btn-group mt-5">
                    <button type="submit" class="ui violet button">Publish</button>
                    <button class="ui teal button">Draft It</button>
                </div>
            </form>
        </div>
    </main>
</section>


    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  

    <!--JQUERY Plugin-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <!--Tiny MCE Init-->
    <script>
        tinymce.init({
          selector: 'textarea',
          height: 380
         });
      </script>

    <!--Custom Script-->
    <script src="/javascript/script.js"></script>
</body>
</html>