@import url('_variable.css');

/*navbar starts*/

.header-area .navbar{
    height: 4rem;
    background: #185074;
    padding: 1rem 3rem;
}

.header-area .navbar .navbar-brand{
    color: #f5f5f5;
    font: normal 600 21.5px var(--roboto);
    padding: 0.2rem 0.5rem;
}

.button{
    padding: 0.4rem 0.8rem;
    margin: 0 1.2rem;
    font: normal 500 15px/20px var(--roboto);
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.button.button-write{
    background: #ffffff;
    background-clip: padding-box;
    color: #000000;
    transition: background 0.6s ease;
    box-shadow: var(--box-shadow);
}

.button.button.button-write:hover{
    background: #dedede;
}

.navbar .navbar-nav button a{
    color: #ffffff;
    font: normal 500 15px var(--roboto);
}
/*Navbar ends*/
