@import url('_global.css');
@import url('_variable.css');

/*Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    line-height: 1.2;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*Reset ends*/


/*Flash error and success message styling starts*/
.ui.message{
    width: 50%;
    height: 50px;
    margin: 3% 25%;
}
/*flash error styling ends*/

/*Navbar area starts*/
.header-area .navbar{
    background: #f5f5f5;
}

.header-area .navbar .navbar-brand{
    padding: 0.2rem 0.5rem;
    color: #0070ba;
    font-size: 23.5px;
    font-weight: 600;
}
/*Navbar area ends*/

/*Main section starts*/

.main-site{
    width: 100vw;
    height: 65vh;
    background: url('/images/image-1.jpg') #424242;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-site .jumbotron{
    padding-top: 10%;
    text-align: center;
    font-family: var(--roboto);
}

.main-site .jumbotron .title-text{
    font: normal 600 32px/58.5px var(--roboto);
    color: #fdfdfd;
}

.main-site .jumbotron .para-text{
    font: normal 500 18.5px/28px var(--roboto);
    color: #cfcfcf;
    letter-spacing: 1.2px;
}


/*Main section ends*/


/*info section styling starts*/

.info{
    margin: 5% 0 0 0;
    width: 100vw;
    height: auto;
}

.info .card-info{
    margin: 0 10px;
    padding: 2rem 2.8rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transform: translateZ(0);
    transition: 0.3s;
    text-align: center;
    color: #424242;
}

.info .card-info:hover{
    transform: scale(0.9);
    background: var(--gradient-color-2);
    color: #f5f5f5;
}

.info .card-info h3{
    font: normal 600 24px/33.5px var(--roboto);
}

.info .card-info p{
    font: normal 500 16px/24px var(--roboto);
}

.info .card-info img{
    width: 350px;
    height: 300px;
}

/*info section ends*/

/*dev community styling starts*/
.dev-community-section{
    width: 100vw;
    height: 50vh;
    margin: 5% 0 0 0;
}

.dev-community-section .d-comm{
   text-align: center;
   margin: 6rem 0 0 0;
}

.dev-community-section .d-comm h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: #0070ba;
    line-height: 55px;
    text-align: center;
}

.dev-community-section .d-comm p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #185074;
    line-height: 24px;
    text-align: center;
}

/*dev community styling ends*/


/*showing dev community starts*/
.communities{
    margin: 5% 0 0 0;
    width: 100vw;
    height: auto;
}

.communities .tagline h2{
    font: normal 600 30px/38.5px var(--roboto);
    color: #424242;
    padding-left: 20px;
}

.communities .comm-items{
    margin: 5% 10px 0 10px;
    padding: 1.7rem 2.6rem;
    box-shadow: var(--box-shadow-2);
    cursor: pointer;
    transform: translateZ(0);
    transition: 0.3s;
    text-align: center;
    color: #424242;
}

.comm-items i{
    font-size: 24px;
    color: #0070ba;
}

.comm-items h3{
    font: normal 500 17px/27px var(--roboto);
    color: #424242;
}

.comm-items hr{
    width: 4vw;
    margin: 5% auto 0 auto;
    height: 3px;
    color: #0070ba;
}

.comm-items:hover{
    transform: scale(1.08);
}

/*Showing dev community ends*/


/*Choose us starts*/

.choose-us{
    width: 100vw;
    height: auto;
    margin: 5% 0 0 0;
    background: #185074;
}

.choose-us .left-item{
    margin: 5% 0 0 2.5%;
}

.choose-us .left-item h2{
    font: normal 700 28px/48.4px var(--roboto);
    color: #f5f5f5;
}

.choose-us .left-item  h3{
    font: normal 600 17px/26px var(--roboto);
    color: #f5f5f5;
}

.choose-us .left-item p{
    font: normal 500 16px/24px var(--roboto);
    color: #f5f5f5;
    text-align: left;
}

.choose-us .left-item i{
    font-size: 16px;
    color: #727272;
    padding-right: 5px;
}

.choose-us .explore-btn button{
    margin: 2% 0 0 0;
    width: 190px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #dd4437;
    color: #f5f5f5;
    font: normal 500 16px/2px var(--roboto);
    cursor: pointer;
    transform: translateZ(0);
    transition: 0.3s;
}

.choose-us .explore-btn button:hover{
    transform: scale(1.1);
    background: #ff4437;
}

.choose-us .choose-us-image img{
    width: 500px;
    height: 500px;
    margin: 5% auto;
}

/*Choose us section ends*/


/*Trending section starts*/
.trending{
    width: 100vw;
    height: auto;
    margin: 3% 0 0 0;
}

.trending .left-trending-item img{
    width: 200px;
    height: 150px;
}

.content .username span{
    font: normal 500 16px/2px var(--roboto);
    color: #424242;
}

.content .username strong{
    font: normal 600 17px/20px var(--roboto);
    color: #424242;
}

.content .header strong{
    font: normal 700 20px/38px var(--roboto);
    color: #424242;
}

.content .description p{
    font: normal 500 16px/24px var(--roboto);
    color: #727272;
}

.left-trending-item{
    width: 55vw;
    margin: 1% 0 0 10vw;
}



/*Media query - Small Devices*/

@media only screen and (max-width: 320px){

    /*Header -Navbar Area Starts*/
    .header-area .navbar .navbar-brand{
        display: none;
    }

    .header-area .navbar{
        padding: 1% 0;
    }

    .header-area .navbar .navbar-nav.ms-auto{
        margin: 2.5% 0 0 -10% !important;
        width: 114%;
        height: 100px;
        background: #f5f5f5;
    }

    .header-area .navbar .navbar-nav button{
        border: none;
        outline: none;
        background: #f5f5f5;
        box-shadow: none;
        color: #0070ba;
        text-align: left;
    }

    .header-area .navbar .navbar-toggler:focus{
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    /*Header - Navbar Area ends*/

    /*Main - Jumbotron starts*/
    .main-site{
        width: 320px !important;
        height: 570px !important;
        background: var(--gradient-color-3);
    }

    .main-site .jumbotron{
        padding-top: 20%;
    }

    .main-site .jumbotron h3{
        font-size: 20px;
    }

    .main-site .jumbotron p{
        font-size: 16px;
        color: #f5f5f5 !important;
    }

    .main-site .jumbotron button{
        padding: 0.7rem 2.1rem;
        margin: 0 1.2rem;
        font: normal 500 16px/20px var(--roboto);
        position: relative;
        border: 3px solid transparent;
        border-radius: 4px;
        background: #f5f5f5;
        background-clip: padding-box;
        color: #185074;
        transition: background 0.6s ease;
        box-shadow: var(--box-shadow);
    }

    /*Main - Jumbotron ends*/

    /*Info section starts*/

    .info{
        margin-top: 10% !important;
    }
    .info .container-fluid .row .card-info img{
        width: 150px;
        height: 150px;
    }
    /*Info section ends*/

    /*dev community section starts*/

    .dev-community-section .d-comm h2{
        font-size: 22px;
        line-height: 40px;
    }

    .dev-community-section .d-comm p{
        font-size: 16px;
        line-height: 20px;
    }
 
    /*Communities section choose us starts*/

    .communities,
    .choose-us{
        margin-top: 22% !important;
    }

    .communities .tagline h2{
        font-size: 22px;
        text-align: center;
    }
    

    .choose-us img{
        height: 250px !important;
    }
    /*Communities section, choose us ends*/

    /*Trending section starts*/
    .left-trending-item{
        width: 320px;
        margin-left: 1.8% !important;
    }

    .left-trending-item .item .description{
        display: none;
    }

    .left-trending-item .item{
        display: flex !important;
        flex-direction: row !important;
    }

    .left-trending-item .item .content{
        margin-left: 2% !important;
    }

    .left-trending-item .item .post-image img{
        width: 70px !important;
        height: 70px !important;
        margin-left: 0 !important;
    }

    .left-trending-item h2{
        font-size: 15px !important;
        font-family: var(--roboto);
    }

    .left-trending-item .item .content .username{
        line-height: 22px !important;
    }

    .left-trending-item .item .content .username :is(span, strong){
        font-size: 14px !important;
        font-weight: 500;
    }

    .left-trending-item .item .header :is(strong){
        font-size: 15px !important;
        font-weight: 700;
        line-height: 15px !important;
    }
    .left-trending-item .item .created span i{
       font-size: 10px !important;
    }

    /*Trending Section ends*/
   
}



/*Medium Screen Devices - Mobile*/
@media only screen and (max-width: 340px){
    
    .header-area .navbar .navbar-brand{
        display: none;
    }

    .header-area .navbar{
        padding: 1% 0;
    }

    .header-area .navbar .navbar-nav.ms-auto{
        margin: 2.5% 0 0 -10% !important;
        width: 114%;
        height: 100px;
        background: #f5f5f5;
    }

    .header-area .navbar .navbar-nav button{
        border: none;
        outline: none;
        background: #f5f5f5;
        box-shadow: none;
        color: #0070ba;
        text-align: left;
    }

    .header-area .navbar .navbar-toggler:focus{
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    /*Navbar area ends*/

    /*Main site starts*/

    .main-site{
        width: 340px !important;
        height: 570px;
        background: var(--gradient-color-3);
    }

    .main-site .jumbotron{
        padding-top: 20%;
    }

    .main-site .jumbotron h1{
        font-size: 20px;
    }

    .main-site .jumbotron p{
        font-size: 16px;
        color: #f5f5f5 !important;
    }

    .main-site .jumbotron button{
        padding: 0.7rem 2.1rem;
        margin: 0 1.2rem;
        font: normal 500 16px/20px var(--roboto);
        position: relative;
        border: 3px solid transparent;
        border-radius: 4px;
        background: #f5f5f5;
        background-clip: padding-box;
        color: #185074;
        transition: background 0.6s ease;
        box-shadow: var(--box-shadow);
    }

    .info{
        margin-top: 10% !important;
    }
    .info .container-fluid .row .card-info img{
        width: 150px;
        height: 150px;
    }

     /*dev community section starts*/

     .dev-community-section .d-comm h2{
        font-size: 22px;
        line-height: 40px;
    }

    .dev-community-section .d-comm p{
        font-size: 16px;
        line-height: 20px;
    }
 
    
    .communities .tagline h2{
        font-size: 22px;
        text-align: center;
    }

    .communities,
    .choose-us{
        margin-top: 22% !important;
    }

    .choose-us img{
        height: 250px !important;
    }

    .left-trending-item{
        width: 340px;
        margin-left: 1.8% !important;
    }

    .left-trending-item .item .description{
        display: none;
    }

    .left-trending-item .item{
        display: flex !important;
        flex-direction: row !important;
    }

    .left-trending-item .item .content{
        margin-left: 2% !important;
    }

    .left-trending-item .item .post-image img{
        width: 70px !important;
        height: 70px !important;
        margin-left: 0 !important;
    }

    
    .left-trending-item h2{
        font-size: 18px;
        font-family: var(--roboto);
    }

    .left-trending-item .item .content .username{
        line-height: 22px !important;
    }

    .left-trending-item .item .content .username :is(span, strong){
        font-size: 14px;
        font-weight: 500;
    }

    .left-trending-item .item .header :is(strong){
        font-size: 16px;
        font-weight: 700;
        line-height: 15px !important;
    }
    .left-trending-item .item .created span i{
       font-size: 10px !important;
    }

}




@media only screen and (max-width: 375px){
    .header-area .navbar .navbar-brand{
        display: none;
    }

    .header-area .navbar{
        padding: 1% 0;
    }

    .header-area .navbar .navbar-nav.ms-auto{
        margin: 2.5% 0 0 -10% !important;
        width: 114%;
        height: 100px;
        background: #f5f5f5;
    }

    .header-area .navbar .navbar-nav button{
        border: none;
        outline: none;
        background: #f5f5f5;
        box-shadow: none;
        color: #0070ba;
        text-align: left;
    }

    .header-area .navbar .navbar-toggler:focus{
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    /*Navbar area ends*/

    .main-site{
        width: 375px !important;
        height: 590px;
        background: var(--gradient-color-3);
    }

    .main-site .jumbotron{
        padding-top: 20%;
    }

    .main-site .jumbotron h1{
        font-size: 20px;
    }


    .main-site .jumbotron p{
        font-size: 16px;
        color: #f5f5f5 !important;
    }

    .main-site .jumbotron button{
        padding: 0.7rem 2.1rem;
        margin: 0 1.2rem;
        font: normal 500 16px/20px var(--roboto);
        position: relative;
        border: 3px solid transparent;
        border-radius: 4px;
        background: #f5f5f5;
        background-clip: padding-box;
        color: #185074;
        transition: background 0.6s ease;
        box-shadow: var(--box-shadow);
    }

    .info{
        margin-top: 10% !important;
    }
    .info .container-fluid .row .card-info img{
        width: 150px;
        height: 150px;
    }

     /*dev community section starts*/

     .dev-community-section .d-comm h2{
        font-size: 22px;
        line-height: 40px;
    }

    .dev-community-section .d-comm p{
        font-size: 16px;
        line-height: 20px;
    }
 
    .communities .tagline h2{
        font-size: 22px;
        text-align: center;
    }

    .communities,
    .choose-us{
        margin-top: 22% !important;
    }

    .choose-us img{
        height: 250px !important;
    }

    .left-trending-item{
        width: 370px;
        margin-left: 2.2% !important;
    }

    .left-trending-item .item .description{
        display: none;
    }

    .left-trending-item .item{
        display: flex !important;
        flex-direction: row !important;
    }

    .left-trending-item .item .content{
        margin-left: 2% !important;
    }

    .left-trending-item .item .post-image img{
        width: 70px !important;
        height: 70px !important;
        margin-left: 0 !important;
    }

    
    .left-trending-item h2{
        font-size: 18px;
        font-family: var(--roboto);
    }

    .left-trending-item .item .content .username{
        line-height: 22px !important;
    }

    .left-trending-item .item .content .username :is(span, strong){
        font-size: 14px;
        font-weight: 500;
    }

    .left-trending-item .item .header :is(strong){
        font-size: 16px;
        font-weight: 700;
        line-height: 15px !important;
    }
    .left-trending-item .item .created span i{
       font-size: 10px !important;
    }

}




@media only screen and (max-width: 414px){

    .header-area .navbar .navbar-brand{
       margin-left: 0.5rem; 
    }

    .header-area .navbar{
        padding: 1% 0;
    }

    .header-area .navbar .navbar-nav.ms-auto{
        margin: 2.5% 0 0 -10% !important;
        width: 114%;
        height: 100px;
        background: #f5f5f5;
    }

    .header-area .navbar .navbar-nav button{
        border: none;
        outline: none;
        background: #f5f5f5;
        box-shadow: none;
        color: #0070ba;
        text-align: left;
    }

    .header-area .navbar .navbar-toggler{
        float: right;
    }

    .header-area .navbar .navbar-toggler:focus{
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    /*Navbar area ends*/

    .main-site{
        width: 414px !important;
        height: 600px;
        background: url('/images/image-1.jpg') #222222;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main-site .jumbotron{
        padding-top: 22%;
    }

    .main-site .jumbotron h1{
        font-size: 20px;
    }


    .main-site .jumbotron p{
        font-size: 16px;
        color: #f5f5f5 !important;
    }

    .main-site .jumbotron button{
        padding: 0.7rem 2.1rem;
        margin: 0 1.2rem;
        font: normal 500 16px/20px var(--roboto);
        position: relative;
        border: 3px solid transparent;
        border-radius: 4px;
        background: #f5f5f5;
        background-clip: padding-box;
        color: #185074;
        transition: background 0.6s ease;
        box-shadow: var(--box-shadow);
    }

    .info{
        margin-top: 10% !important;
    }
    .info .container-fluid .row .card-info img{
        width: 200px;
        height: 200px;
    }

    /*dev community section starts*/

    .dev-community-section .d-comm h2{
        font-size: 23px;
        line-height: 40px;
    }

    .dev-community-section .d-comm p{
        font-size: 17px;
        line-height: 20px;
    }
 
    .communities .tagline h2{
        font-size: 23px;
        text-align: center;
    }

    .communities,
    .choose-us{
        margin-top: 10% !important;
    }

    .choose-us img{
        height: 250px !important;
    }

    .left-trending-item{
        width: 410px;
        margin-left: 2.2% !important;
    }

    .left-trending-item .item .description{
        display: none;
    }

    .left-trending-item .item{
        display: flex !important;
        flex-direction: row !important;
    }

    .left-trending-item .item .content{
        margin-left: 3% !important;
    }

    .left-trending-item .item .post-image img{
        width: 75px !important;
        height: 75px !important;
        margin-left: 0 !important;
    }

    
    .left-trending-item h2{
        font-size: 19px;
        font-family: var(--roboto);
    }

    .left-trending-item .item .content .username{
        line-height: 22px !important;
    }

    .left-trending-item .item .content .username :is(span, strong){
        font-size: 15px;
        font-weight: 500;
    }

    .left-trending-item .item .header :is(strong){
        font-size: 17px;
        font-weight: 700;
        line-height: 15px !important;
    }
    .left-trending-item .item .created span i{
       font-size: 12px !important;
    }


}







@media only screen and (max-width: 480px){

    .header-area .navbar .navbar-brand{
       margin-left: 0.5rem; 
    }

    .header-area .navbar{
        padding: 1% 0;
    }

    .header-area .navbar .navbar-nav.ms-auto{
        margin: 2.5% 0 0 -10% !important;
        width: 114%;
        height: 100px;
        background: #f5f5f5;
    }

    .header-area .navbar .navbar-nav button{
        border: none;
        outline: none;
        background: #f5f5f5;
        box-shadow: none;
        color: #0070ba;
        text-align: left;
    }

    .header-area .navbar .navbar-toggler{
        float: right;
    }

    .header-area .navbar .navbar-toggler:focus{
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    /*Navbar area ends*/

    .main-site{
        width: 480px !important;
        height: 600px;
        background: url('/images/image-1.jpg') #222222;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main-site .jumbotron{
        padding-top: 22%;
    }

    .main-site .jumbotron h1{
        font-size: 21px;
    }


    .main-site .jumbotron p{
        font-size: 16px;
        color: #f5f5f5 !important;
    }

    .main-site .jumbotron button{
        padding: 0.7rem 2.1rem;
        margin: 0 1.2rem;
        font: normal 500 16px/20px var(--roboto);
        position: relative;
        border: 3px solid transparent;
        border-radius: 4px;
        background: #f5f5f5;
        background-clip: padding-box;
        color: #185074;
        transition: background 0.6s ease;
        box-shadow: var(--box-shadow);
    }

    .info{
        margin-top: 10% !important;
    }
    .info .container-fluid .row .card-info img{
        width: 200px;
        height: 200px;
    }

    /*dev community section starts*/

    .dev-community-section{
        margin-top: 10% !important;
    }

    .dev-community-section .d-comm h2{
        font-size: 23px;
        line-height: 40px;
    }

    .dev-community-section .d-comm p{
        font-size: 17px;
        line-height: 20px;
    }
 
    .communities .tagline h2{
        font-size: 23px;
        text-align: center;
    }

    .communities,
    .choose-us{
        margin-top: 10% !important;
    }

    .choose-us img{
        height: 250px !important;
    }

    .left-trending-item{
        width: 470px;
        margin-left: 2% !important;
    }

    .left-trending-item .item .description{
        display: none;
    }

    .left-trending-item .item{
        display: flex !important;
        flex-direction: row !important;
    }

    .left-trending-item .item .content{
        margin-left: 5% !important;
    }

    .left-trending-item .item .post-image img{
        width: 80px !important;
        height: 80px !important;
        margin-left: 0 !important;
    }

    
    .left-trending-item h2{
        font-size: 19px;
        font-family: var(--roboto);
    }

    .left-trending-item .item .content .username{
        line-height: 30px !important;
    }

    .left-trending-item .item .content .username :is(span, strong){
        font-size: 15px;
        font-weight: 500;
    }

    .left-trending-item .item .header :is(strong){
        font-size: 17px;
        font-weight: 700;
        line-height: 15px !important;
    }
    .left-trending-item .item .created span i{
       font-size: 12px !important;
    }

    
}







@media only screen and (max-width: 600px){

    .header-area .navbar .navbar-brand{
       margin-left: 0.5rem !important; 
    }

    .header-area .navbar{
        padding: 1% 0 1% 2%;
    }

    .header-area .navbar .navbar-nav.ms-auto{
        margin: 2.5% 0 0 -5% !important;
        width: 114%;
        height: 100px;
        background: #f5f5f5;
    }

    .header-area .navbar .navbar-nav button{
        border: none;
        outline: none;
        background: #f5f5f5;
        box-shadow: none;
        color: #0070ba;
        text-align: left;
    }

    .header-area .navbar .navbar-toggler{
        float: right;
    }

    .header-area .navbar .navbar-toggler:focus{
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    /*Navbar area ends*/

    .main-site{
        width: 600px !important;
        height: 600px;
        background: url('/images/image-1.jpg') #222222;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main-site .jumbotron{
        padding-top: 22%;
    }

    .main-site .jumbotron p{
        font-size: 18px !important;
        color: #f5f5f5 !important;
    }

    .main-site .jumbotron button{
        padding: 0.7rem 2.1rem;
        margin: 0 1.2rem;
        font: normal 500 16px/20px var(--roboto);
        position: relative;
        border: 3px solid transparent;
        border-radius: 4px;
        background: #f5f5f5;
        background-clip: padding-box;
        color: #185074;
        transition: background 0.6s ease;
        box-shadow: var(--box-shadow);
    }

    .info{
        margin-top: 10% !important;
    }
    .info .container-fluid .row .card-info img{
        width: 200px;
        height: 200px;
    }

    /*dev community section starts*/

    .dev-community-section{
        margin-top: 5% !important;
    }

    .dev-community-section .d-comm h2{
        font-size: 28px !important;
        line-height: 40px;
    }

    .dev-community-section .d-comm p{
        font-size: 19px !important;
        line-height: 20px;
    }
 
    .communities .tagline h2{
        font-size: 23px;
        text-align: center;
    }

    .communities{
        margin-top: 2% !important;
    }

    .choose-us{
        margin-top: 10% !important;
    }

    .choose-us img{
        width: 600px !important;
        height: 250px !important;
    }

    .left-trending-item{
        width: 590px;
        margin-left: 4% !important;
    }

    .left-trending-item .item .description{
        display: none;
    }

    .left-trending-item .item{
        display: flex !important;
        flex-direction: row !important;
    }

    .left-trending-item .item .content{
        margin-left: 3% !important;
    }

    .left-trending-item .item .post-image img{
        width: 95px !important;
        height: 95px !important;
        margin-left: 0 !important;
    }

    
    .left-trending-item h2{
        font-size: 20px !important;
        font-family: var(--roboto);
    }

    .left-trending-item .item .content .username{
        line-height: 30px !important;
    }

    .left-trending-item .item .content .username :is(span, strong){
        font-size: 16px !important;
        font-weight: 500;
    }

    .left-trending-item .item .header :is(strong){
        font-size: 18px !important;
        font-weight: 700;
        line-height: 15px !important;
    }
    .left-trending-item .item .created span i{
       font-size: 13px !important;
    }

    
}